.Title {
  font-family: verdana;
  font-size: 50px;
  font-style: normal;
  text-decoration: underline;
  text-decoration-color: rgb(252, 1, 43);
}
.Lista {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 450px;
  margin-left: 420px;
  margin-top: 50px;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}
ul .InputCSS {
  border: 1px solid rgb(220, 220, 220);
  text-align: center;
  justify-content: center;
  display: flex;
  width: 350px;
}
.list-group-item>button{
  display: none;
}
.list-group-item:hover>button{
  display:block;
}
.paper {
  background: #000000;
  box-shadow:
    
    0 1px 1px rgba(0,0,0,0.15),
    
    0 10px 0 -5px #eee,
    
    0 10px 1px -4px rgba(0,0,0,0.15),
    
    0 20px 0 -10px #eee,
    
    0 20px 1px -9px rgba(0,0,0,0.15);
    
    padding: 30px;
}
.AmountTasks{
  font-size: 0.8em;
  color: rgb(231, 13, 13);
  margin-right: 300px;
  margin-top: -25px;
  font-family: "Quicksand", sans-serif;
}